# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


assets
build
doc.doc
packages/animation
packages/data-transformer
packages/dragdrop
packages/dragndrop
packages/fetch
packages/fieldest
packages/file-uploader
packages/flash
packages/form
packages/form-input
packages/image
packages/modal
packages/pagination
packages/process-backend
packages/scroll-behavior
packages/tempdata
packages/transformer

