//PULSATION
@mixin pulsate-ping($element,$time:.5s){
    .#{$element}.pulsate-ping {
      animation: pulsate-ping $time ease-in-out infinite both;
    }
  @keyframes pulsate-ping {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      opacity: 0.8;
    }
    80% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(2.2);
              transform: scale(2.2);
      opacity: 0;
    }
  }
  
  }