@mixin slide-in-top($element,$time:.5s,$top:-100%){
  #{$element}.slide-in-top {
    animation: slide-in-top $time cubic-bezier(0.550, 0.085, 0.680, 0.530) both running;
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY($top);
              transform: translateY($top);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin slide-out-top($element,$time:.5s,$bottom:-100%){
  #{$element}.slide-out-top {
    animation: slide-out-top $time cubic-bezier(0.550, 0.085, 0.680, 0.530) both running;
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY($bottom);
              transform: translateY($bottom);
      opacity: 0;
    }
  }
}

@mixin slide-fwd-top($element,$time, $top){
  #{$element}.slide-fwd-top {
      animation: slide-fwd-top $time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @keyframes slide-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(160px) translateY(-100px);
              transform: translateZ(160px) translateY(-100px);
    }
  }
}

@mixin slide-in-fwd-left($element,$time){
  #{$element}.slide-in-fwd-left {
      animation: slide-in-fwd-left $time cubic-bezier(0.250, 0.460, 0.450, 0.940) both running;
  }
  @keyframes slide-in-fwd-left {
    0% {
      -webkit-transform: translateZ(-1400px) translateX(-1000px);
              transform: translateZ(-1400px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      opacity: 1;
    }
  }
}


  @mixin slind-in-tl($element,$time){
    #{$element}.slide-in-tl {
        animation: slide-in-tl $time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes slide-in-tl {
      0% {
        -webkit-transform: translateY(-1000px) translateX(-1000px);
                transform: translateY(-1000px) translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
        opacity: 1;
      }
    }
  }


  @mixin slide-in-fwd-tl($element,$time){
    #{$element}.slide-in-fwd-tl {
      animation: slide-in-fwd-tl $time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes slide-in-fwd-tl {
      0% {
        -webkit-transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
                transform: translateZ(-1400px) translateY(-800px) translateX(-1000px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
                transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1;
      }
    }

  }

  @mixin slide-out-fwd-tl($element,$time){
    #{$element}.slide-out-fwd-tl {
      animation: slide-out-fwd-tl $time cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    @keyframes slide-out-fwd-tl {
      0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
                transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateZ(600px) translateY(-300px) translateX(-400px);
                transform: translateZ(600px) translateY(-300px) translateX(-400px);
        opacity: 0;
      }
    }

  }